$myBreakpoints: (
    iPadsLandscape: 1224px,
    iPadsPortrait: 1024px,
    SmartphonesLandscape: 768px,
    BigSmartphonesPortrait: 640px,
    SmartphonesPortrait: 321px,
    // desktopMin: 1207px,
    desktopMax: 1711px,
    smallDesktop: 1580px,
    xsDesktop: 1366px
);
