// Flash message
$success-background:#DAFBE1;
$success-color:#155724;
$success-border:#A0E5B2;
$warning-background:#FFF8C5;
$warning-color:#856404;
$warning-border:#EED888;
$error-background:#FFEBE9;
$error-color:#7F2E36;
$error-border:#FFC0C0;
$info-background:#DDF4FF;
$info-color:#0C5460;
$info-border:#A6D9FF;
$orange: #F5A012;