body {
    background-color: $white;
}

.container-card-link {
    display: flex;
    justify-content: space-between;
}


.grid-recipe {
    // max-width: 1300px;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 20px;
}

.recipe-item{
    width: 300px;
}